body {
   background-color: #eee;
   font-family: cursive;
}
h1 {
   text-align: center;
   font-size: 2rem;
   color: red;
   margin: 0;
   padding: 20px 0;
}
.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 350px;
   height: 420px;
   margin: 100px auto;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
select {
   display: flex;
   width: 100%;
   max-width: 400px;
   height: 50px;
   margin: 0 auto;
   font-size: 1rem;
   border: 1px solid #ccc;
   border-radius: 10px;
   padding: 0 10px;
}
img {
   display: flex;
   align-self: center;
   max-width: 400px;
   height: auto;
   margin: 0 auto;
   width: 200px;
   height: 200px;
}
p {
   text-align: center;
   font-size: 1.5rem;
   color: blue;
   margin: 0;
   padding: 20px 0;
}
