body {
   background-color: #fff;
   font-family: open sans, arial, sans-serif;
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 550px;
   margin: 50px auto;
   padding: 20px 20px;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   background-color: #f0f0f0;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
   text-align: center;
   font-size: 25px;
   font-weight: bold;
   color: skyblue;
   margin: 10px 0;
}

hr {
   width: 100%;
   border: 1.5px solid #ccc;
}

.buttons-container {
   display: flex;
   justify-content: space-around;
   margin: 20px 25px 0 25px;
}
button {
   width: 30%;
   padding: 20px 50px;
   font-size: 16px;
   font-weight: bold;
   margin-top: 10px;
   margin-bottom: 10px;
}
